/* BEGIN CODE HERE */
header {
    border-bottom: solid black 1px;
}

.logo {
    height: 58px;
    max-height: 250px;
    margin-left: 130px;
}

.d-flex {
    margin-right: 130px;
    font-size: 18px;
}

#home, #products{
    padding: 12px;
    color: #0296f1;
    border-radius: 10px;
    margin: 5px;
}

#home {
    color: white;
    background-color: #0296f1;
}

#home:hover, #home:active, #products:hover, #products:active {
    background-color: #0296f1;
    color: white;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.frame1 {
    width: 1200px;
    height: 400px;
	margin: 10px;
}

.section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article1 {
    background: white;
    flex:  1;
}	


.article1 img {
  width: 600px;
  height: 400px;
}

.frame2 {
    width: 1200px;
    height: 400px;
	margin: 10px;
}

.container2 {
    display: flex;
}

.article2{
    padding: 0;
    margin: 0;
    background: white;
    width: 300px;
}	

.section2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.article2 img {
	width: 300px;
	height: 200px;
}


.article3 {
    position: relative; /* Απαιτείται για να λειτουργήσει το position: absolute; */
	width: 300px;
	height:200px;
}

.article3 p {
    position: absolute;
    bottom: 0;
    right: 0;
}

.article4 {
    position: relative; /* Απαιτείται για να λειτουργήσει το position: absolute; */
	width: 300px;
	height:200px;
}

.article4 p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.frame3 {
    width: 1200px;
    height: 600px;
	margin: 10px;
}

iframe {
    width: 1200px;
    height: 600px;
    border: none; /* Αφαιρεί τα περιθώρια του iframe */
	
}

footer {
    height: 100px;
    background-color:#f2f2f2;
    text-align: center;
    line-height: 100px;
	font-family: Arial, serif;
	font-size:1em;
    border-top: solid black 1px;
}
/* END CODE HERE */