.logo {
    height: 58px;
    max-height: 250px;
}

#blueButton{
    color:#0d6efd;
}

.navbar{
    background: #9fc4ff;
}

.container{
    width: 1200px;
}

label {
    text-align: left;
    width: 150px;
    display: inline-block;
}

#searchBtn{
    text-align: center;
    width: 100px;
    display: inline-block;
    color: white;
    background:#0d6efd;
}

#saveBtn{
    margin-left: 1090px;
    text-align: center;
    width: 75px;
    display: inline-block;
    color: white;
    background:#0d6efd;
}

footer {
    height: 100px;
    background-color:#f2f2f2;
    text-align: center;
    line-height: 100px;
    font-size:1em
}

#frame4,#frame5 {
    width: 1200px;
    margin: 0 auto;
}

.input-group input#name-input {
    margin-right: 700px;
    height: 40px;
}

.input-group input#prod-input {
    margin-right: 700px;
    height: 40px;
}

.input-group input#price-input {
    margin-right: 700px;
    height: 40px;
}

.input-group input#color-input {
    margin-right: 700px;
    height: 40px;
}

.input-group input#size-input {
    margin-right: 700px;
    height: 40px;
}